.Title {
    color: white;
    text-align: center;
}

.PasswordListContainer {
    text-align: center;
}

.PasswordList {
    color: white;
    margin: 0;
    padding: 0;
    /* justify-content: center; */
    list-style-type: none;
}

.NoPasswords {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.Button {
    width: 95%;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
}

@media (min-width: 1000px) {
    .Button {
        width: 940px;
    }
}