.Welcome {
    color: white;
    text-align: center;
}

.Container {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

.container {
    background-color: rgb(25, 25, 25);
    display: grid;
    grid-template-columns: 140px 200px auto ;
    grid-template-rows: 20px 20px 20px 20px auto;
    gap: 10px 15px;
    width: 95%;
    height: 300px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 30px;
}

@media (max-width: 650px) {
    .container {
        grid-template-columns: 140px auto 0px;
        padding: 10px;
    }
}

@media (min-width: 900px) {
    .container {
        width: 800px;
    }
}

h3 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 2;
}

.Label {
    color: white;
    text-align: left;
    align-self: baseline;
    font-weight: bold;
    margin: 0; 
}

.UsernameLabel {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
}

.EmailLabel {
    grid-column-start: 1;
    grid-column-end: 2;
    
}

.PhoneNumberLabel {
    grid-column-start: 1;
    grid-column-end: 2;
}

.Text {
    color: white;
    text-align: left;
    align-self: baseline;
    margin: 0;
}

.UsernameText {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.EmailText {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.PhoneNumberText {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.ButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-self: right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
}

@media (max-width: 650px) {
    .ButtonsContainer {
        justify-self: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}

.Button {
    height: 35px;
    width: 190px;
    margin: 0 0 10px 0;
}
