.header {
    background: black;
    padding: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1.5px solid rgb(50, 50, 50);
}

.navLink {
    font-weight: 800;
    font-size: 35px;
    margin: 5px 10px;
    color: white;
    text-decoration: none;
}

.icon {
    margin: 0 5px 0 0;
}

.navButton {
    margin: 7px 5px;
}

.buttonContainer {
    float: right;
}

@media (max-width: 655px) {
    .header {
        height: 95px;
    }

    .navLink {
        font-weight: 800;
        font-size: 30px;
    }

    .buttonContainer {
        float: none;
        margin: 2px 5px 5px 5px;
        /* margin: 0 auto;
        width: fit-content; */
    }
}