.footer {
    background: black;
    margin: 40px 0 0 0;
    padding: 20px 0;
    width: 100%;
    border-top: 1.5px solid rgb(50, 50, 50);
}

.footer p {
    font-size: 15px;
    padding: 0px;
    text-align: center;
    margin: 0;
    color: white;
}
