.Item {
    background-color: rgb(25, 25, 25);
    display: grid;
    grid-template-columns: 20% auto 20% 90px;
    grid-template-rows: auto;
    gap: 10px 15px;
    width: 95%;
    height: max-content;
    min-height: 100px;
    margin: 10px auto;
    border-radius: 15px;
}

@media (min-width: 1000px) {
    .Item {
        grid-template-columns: 200px auto 200px 90px;
        width: 940px;
        height: 100px;
    }
}

.websiteContainer{
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.websiteLabel{
    color: white;
    font-weight: bold;
    margin: 5px 0 0 10px; 
}

.websiteText{
    color: white;
    margin: 10px 0 0 10px; 
}

.descriptionContainer{
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.descriptionLabel {
    color: white;
    font-weight: bold;
    margin: 5px 0 0 0; 
}

.descriptionText {
    color: white;
    margin: 10px 0 0 0;
}

.passwordContainer{
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.passwordLabel {
    color: white;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.passwordText {
    color: white;
    margin: 10px 0 0 0;
}

.errorLabel {
    font-weight: bold;
    text-align: left;
}

.ButtonContainer {
    margin: 0;
    flex-direction: row;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Button {
    min-height: 100px;
    height: 100%;
    width: 30px;
    border-radius: 15px;
}

.Button span{
    font-weight: bold;
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
}

.ShowHideButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
}

.ShowHideButton span{
    left: -14px;
}

.UpdateButton {
    border-radius: 0;
    border: 1px solid rgb(35, 35, 35);
    background: rgb(35, 35, 35);
}

.UpdateButton span{
    left: -21px;
}

.UpdateButton:hover,
.UpdateButton:active {
    background: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
}

.DeleteButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid rgb(65, 65, 65);
    background: rgb(65, 65, 65);
}

.DeleteButton span{
    left: -17px;
}

.DeleteButton:hover,
.DeleteButton:active {
    background: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
}

@media (max-width: 450px) {
    .websiteLabel{
        font-size: 14px;
    }
    
    .websiteText{
        font-size: 14px;
    }
    
    .descriptionLabel {
        font-size: 14px;
    }
    
    .descriptionText {
        font-size: 14px;
    }
    
    .passwordLabel {
        font-size: 14px;
    }
    
    .passwordText {
        font-size: 14px;
    }
    
    .errorLabel {
        font-size: 14px;
    }
}